.chapter
  h4 Chapter number #{chapter.chapNumber}
  form(method='post', action='/books/#{id}/deleteChapter/#{chapter._id}')
    input(type='submit', value='Delete this Chapter')
  form(method='post', action='/books/#{id}/findLocations/#{chapter._id}')
    input(type='submit', value='Find Locations')
  
  .chapter-content!= chapter.content
  //!= partial('location', {collection: chapter.chapterlocations})
  != chapter.locations